<div class="ftr-section">
  <div class="ftr-copyright">
    <p>
      © <span>2020</span> 
      <a href="./" class="">Martin Kaio</a>
      <a href="https://github.com/martinkaio" class=""><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/martin-kaio-04097a185/" class=""><i class="fa fa-linkedin"></i></a>
      <a href="https://www.youtube.com/channel/UCRW4vlOInlKoH1Zi7-ELUbg" class=""><i class="fa fa-youtube-play"></i></a> 
      All rights reserved.
       <span>
        <% if (pageCountMessage) { %>
          <span><%=pageCountMessage%></span>
          </span>
            
        <% } else { %>
          <span>-1</span>
        </span>
      <%} %>
    </p>
  </div>
</div>
