<div class="ftr-bottom ftr-section">
  <div class="ftr-copyright">
    <p>
      © <span>2020</span> <a href="#" class="">Martin Kaio</a> All rights
      reserved. <span>
        <% if (pageCountMessage) { %>
          <span><%=pageCountMessage%></span>
          </span>
            
        <% } else { %>
          <span>-1</span>
        </span>
      <%} %>
    </p>
  </div>
</div>
