<div class="area"></div>
<nav class="main-menu" id="nav-bar">
  <ul>
    <li>
      <a class="nav-link" href="/">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Main
        </span>
      </a>
    </li>
    <li>
      <a class="nav-link" href="/lipsum">
        <i class="fa fa-font fa-2x"></i>
        <span class="nav-text">
          Lipsum
        </span>
      </a>
    </li>
    <li>
      <a class="nav-link" href="/title">
        <i class="fa fa-paw fa-2x"></i>
        <span class="nav-text">
          CatApp
        </span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="#"
            ><span class="nav-text">
              Sub-1
            </span></a
          >
        </li>
        <li>
          <a href="#"
            ><span class="nav-text">
              Sub-2
            </span></a
          >
        </li>
        <li>
          <a href="#"
            ><span class="nav-text">
              Sub-3
            </span></a
          >
        </li>
      </ul>
    </li>
    <li>
      <a class="nav-link" href="/test">
        <i class="fa fa-flask fa-2x"></i>
        <span class="nav-text">
          Test
        </span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="/projects/solar"
            ><span class="nav-text">
              Solar light
            </span></a
          >
        </li>
        <li>
          <a href="/projects/"
            ><span class="nav-text">
              Sub-5
            </span></a
          >
        </li>
        <li>
          <a href="/projects/"
            ><span class="nav-text">
              Sub-6
            </span></a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>
