<div class="area"></div>
<nav class="main-menu" id="nav-bar">
  <ul>
    <li>
      <a class="nav-link" href="./">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Main
        </span>
      </a>
    </li>
    <li>
      <a class="nav-link" href="/lipsum">
        <i class="fa fa-font fa-2x"></i>
        <span class="nav-text">
          Lipsum
        </span>
      </a>
    </li>
    <li>
      <a class="nav-link" href="/title">
        <i class="fa fa-flask fa-2x"></i>
        <span class="nav-text">
          Test
        </span>
      </a>
    </li>
  </ul>
</nav>
