<header>
  <nav id="navbar">
    <ul>
      <li><a class="raspberry-text" id="left" href="./">Home</a></li>
      <li>
        <a class="raspberry-text" id="left" href="/lipsum">Lipsum</a>
      </li>
    </ul>
  </nav>
</header>
