#main {
  height: 100vh;
  position: fixed;
  width: 100%;
  color: #dce2e6;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
