@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body {
  padding-left: 55px;
}

nav .fa-2x {
  font-size: 2em;
}
nav .fa {
  position: relative;
  display: table-cell;
  width: 65px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}

.main-menu:hover {
  width: 200px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 52px;
  overflow: hidden;
  -webkit-transition: width 0.15s linear;
  transition: width 0.15s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 200px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  background: linear-gradient(to left, #222629, #0e8d0e 100%);
  background-position: 0% 100%;
  background-repeat: repeat-x;
  background-repeat: no-repeat;
  background-size: 0px 36px;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  width: 190px;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: 26px;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}
.main-menu li:hover > a {
  color: #fff;
  background-size: 210px 36px;
  -webkit-transition: color 0.4s linear, background-size 0.2s linear;
  transition: color 0.4s linear, background-size 0.2s linear;
}
.area {
  float: left;
  background: linear-gradient(110deg, #222629, #61892f);
  width: 100%;
  height: 100%;
}
