.red-text {
  color: red;
}
.cyan-text {
  color: #00ffff;
}

.raspberry-text {
  color: #ff007f;
}

h2 {
  font-family: Lobster, monospace;
}

p {
  font-size: 16px;
  font-family: monospace;
}

body {
  background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #00ffff;
}

nav ul {
  margin: 0px;
}
nav li {
  display: inline;
  margin: auto;
  color: #ff007f;
}

#right {
  float: right;
  width: 50%;
}

#left {
  float: left;
  width: 50%;
}

.thick-green-border {
  border-color: green;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}

.smaller-image {
  width: 100px;
}

.smaller-image:hover {
  transform: scale(1.5);
  position: relative;
  left: 40px;
}

.silver-background {
  background-color: silver;
}

[type="checkbox"] {
  margin: 10px 0px 15px 0px;
}

.orange {
  background-color: #ff7f00;
}

.cyan {
  background-color: #00ffff;
}

.raspberry {
  background-color: #ff007f;
}

.gradient-background {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
}

.repeating-background {
  border-radius: 5px;
  /*width: 70%;
  height: 400px;
  margin: 50 auto;*/
  background: repeating-linear-gradient(
    90deg,
    #ff007f 0px,
    #ff7f00 40px,
    #ff7f00 40px,
    #702fff 80px,
    #702fff 80px,
    #ff0f40 120px,
    #ff0f40 120px,
    #ff007f 160px
  );
}
.heart {
  position: relative;
  margin: auto;
  top: 30px;
  background-color: rgb(255, 130, 151);
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: rotate;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.heart::after {
  background-color: rgb(255, 130, 151);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart::before {
  content: "";
  background-color: rgb(255, 130, 151);
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  25% {
    transform: scale(0.95) rotate(45deg);

    opacity: 0.7;
  }
  50% {
    transform: scale(0.92) rotate(135deg);

    opacity: 0.2;
  }
  75% {
    transform: scale(0.95) rotate(225deg);

    opacity: 0.7;
  }
  100% {
    transform: scale(1) rotate(315deg);
  }
}
