#gorgeous-contrast {
  color: #61892f;
  color: #86c232;
  color: #222629;
  color: #474b4f;
  color: #6b6e70;
  color: #dce2e6;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Halant", "Courier New", Courier, monospace;
}

.content {
  min-height: calc(100vh - 85px);
  padding: 10px 10px 0 10px;
}

.gradient-bg {
  background: linear-gradient(110deg, #222629, #222629, #305230, #547729);
  color: #dce2e6;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  margin-right: 1px;
  max-width: 1280px;
  max-height: 720px;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 10;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  max-width: 1280px;
  max-height: 720px;
}

@media (min-width: 1280px) {
  .iframe-container {
    padding-top: 720px;
  }
}

.ftr-section a:hover {
  text-decoration: none;
}
.ftr-section {
  padding: 2px 4px;
  background-color: rgba(10, 28, 46, 0.3);
  width: 100%;
  height: 55px;
  bottom: 0;
  width: 100%;
}

.ftr-section,
.copyright {
  color: #e5e5e5;
  font-weight: 600;
}
.ftr-copyright,
.ftr-section a {
  color: #f2ff49;
  margin-left: 3px;
  padding-right: 3px;
}
.ftr-section,
.ftr-section p {
  font-size: 16px;
  font-weight: 400;
}
.ftr-copyright,
.ftr-section p,
.ftr-section span {
  color: #d1caca;
}
.ftr-section,
.ftr-copyright p,
.ftr-copyright,
.ftr-section a:hover {
  color: #6c6d83;
}
