<!DOCTYPE html>

<html class="gradient-bg">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Halant&family=Nunito+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="css/heart.css" />
    <link rel="stylesheet" href="css/style_new.css" />
    <link rel="stylesheet" href="css/nav-bar.css" />
    <title><%= siteName %> | <%= pageTitle %></title>
  </head>
  <body>
    <div class="flex-wrapper">
      <div class="main-wrapper">
        <%- include('./partials/nav-bar') %>

        <article class="resume">
          <section class="resume-photo">
            <h1>
              <img
                class=""
                src="https://raw.githubusercontent.com/martinkaio/portfolio/openshift/static/images/self.jpg"
                alt="Martin Kaio"
              />
              <br />
              Martin Kaio
            </h1>
          </section>
          <section class="resume-about">
            <p>
              Physics graduate interested in everything
            </p>
          </section>
          <section class="resume-work">
            <h2>Work experience</h2>

            <ul>
              <h3>Research assistant<span> 2018</span></h3>
              <h4>University of Bristol</h4>
              <p>
                Summer internship training and working with fiber laser optics
                and silicon photonics
              </p>
              <p>
                Measurement and data analysis of silicon photonic resonators
                transmission spectra
              </p>
            </ul>
          </section>
          <section class="resume-education">
            <h2>Education</h2>

            <ul>
              <h3>MSci Physics<span> 2015-2019</span></h3>
              <h4>University of Bristol</h4>
              <p>
                Thesis on nonlinear parasitic effects related to photon-pair
                generation in silicon waveguides
              </p>
            </ul>

            <ul>
              <h3>Secondary school<span>2011-2014</span></h3>
              <h4>Nõo Reaalgümnaasium</h4>
              <p>
                Physics and computing specialty
              </p>
            </ul>
          </section>
          <section class="resume-skills">
            <ul>
              <h3>Programming</h3>
              <li>Python</li>
              <li>Java</li>
              <li>Matlab</li>
              <li>Git</li>
              <li>CUDA</li>
              <li>JavaScript</li>
              <li>Node.js</li>
              <li>MongoDB</li>
            </ul>
            <ul>
              <h3>General</h3>
              <li>Physics</li>
              <li>Mathematics</li>
              <li>Statistics</li>
              <li>Data Science</li>
              <li>Microsoft Office</li>
            </ul>

            <ul>
              <h3>Languages</h3>

              <li>English</li>
              <li>Estonian</li>
            </ul>
            <ul>
              <h3>Interests</h3>

              <li>Electronics</li>
              <li>Video</li>
              <li>Computing hardware</li>
            </ul>
          </section>
        </article>

        <div class="iframe-container white-border">
          <iframe
            src="https://www.youtube-nocookie.com/embed/vMJLepZVbQs"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <footer>
        <%- include('./partials/footer') %>
      </footer>
    </div>
  </body>
</html>
