<!DOCTYPE html>

<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Lobster"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/nav-bar.css" />
    <style>
      code {
      background-color: white;
      border: 1px solid #ccc;
      padding: 1px 5px;
      color: #888;
      }
    
    </style>
    <title><%= siteName %> | <%= pageTitle %></title>
  </head>
  <body>
    <header>
      <%- include('./partials/nav-bar') %>
    </header>
    <h2 class="cyan-text repeating-background">&ensp;CatPhotoApp</h2>
    <main>
      <p class="gradient-background">
        Click here to view more <a href="#">cat photos</a>.
      </p>

      <a href="#">
        <img
          class="smaller-image thick-green-border"
          src="https://bit.ly/fcc-relaxing-cat"
          alt="A cute orange cat lying on its back."
        />
      </a>
      <div class="silver-background">
        <p>Things cats love:</p>
        <ul>
          <li>cat nip</li>
          <li>laser pointers</li>
          <li>lasagna</li>
        </ul>
        <p>Top 3 things cats hate:</p>
        <ol>
          <li>flea treatment</li>
          <li>thunder</li>
          <li>other cats</li>
        </ol>
      </div>
      <form
        class="gradient-background"
        id="cat-photo-form"
        action="/submit-cat-photo"
      >
        <fieldset>
          <label for="indoor">
            <input
              id="indoor"
              type="radio"
              name="indoor-outdoor"
              value="indoor"
              checked
            />
            Indoor
          </label>
          <label for="outdoor">
            <input
              id="outdoor"
              type="radio"
              name="indoor-outdoor"
              value="outdoor"
            />
            Outdoor
          </label>
        </fieldset>
        <br />
        <fieldset>
          <label for="loving">
            <input
              id="loving"
              type="checkbox"
              name="personality"
              value="loving"
              checked
            />
            Loving
          </label>
          <label for="lazy">
            <input id="lazy" type="checkbox" name="personality" value="lazy" />
            Lazy
          </label>
          <label for="energetic">
            <input
              id="energetic"
              type="checkbox"
              name="personality"
              value="energetic"
            />
            Energetic
          </label>
        </fieldset>
        <br />
        <fieldset>
          <input type="text" placeholder="cat photo URL" required />
          <button type="submit">Submit</button>
        </fieldset>
      </form>
      <section>
        <h2>Request information</h2>
          <p>Page view count:
            <% if (pageCountMessage) { %>
              <span class="code" id="count-value"><%=pageCountMessage%></span>
              </p>
                
            <% } else { %>
              <span class="code" id="count-value">No database configured</span>
            </p>
          <%} %>
      </section>
    </main>
    <br />
    <div class="heart"></div>
    <footer>&copy;Martin Kaio</footer>
  </body>
</html>
